/* You can add global styles to this file, and also import other style files */
body{

    background: url('./assets/img/background.png');
    background-repeat: no-repeat;
}
html, body{
    font-family: 'Roboto', sans-serif;
}